<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>NGT Recharge</title>
  <link rel="shortcut icon" href="" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

  <!-- <link rel="stylesheet" href="./assets/bootstrap.min.css" /> -->
  <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
  <link rel="stylesheet" href="assets/css/metro-bootstrap.css" />
  <link rel="stylesheet" href="assets/css/ym314.css" />

  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="assets/css/mdb.css">
  <!--Quciksand font family-->
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body class="bg-muted">

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
  
        <a class="navbar-brand text-white font-weight-bold py-4" style="font-size: 30px;" href="#">
          NGT Recharge</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarContent"
          aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto h3">
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Home</a>
            </li>
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white ml-3" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Language
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="nav-link active text-primary" href="#eng" data-reload><img src="assets/img/eng.png"
                    class="img-fluid" style="max-width: 25px;" alt="">English</a>
                <a class="nav-link text-primary" href="#fre" data-reload><img src="assets/img/fre.png" class="img-fluid"
                                                                              style="max-width: 25px;" alt=""> French</a>
              </div>
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item"></li>
            <li class="nav-item ml-4">
              <a class="nav-link " id="logout" href="login.html">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!--End Navbar -->

  <main>
    <div class="container">
      <div id="userspace">
        <div class="row">
          <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 pb-2">
            <div class="border border-primary z-depth-1-half ">
              <div class="panel-heading bg-primary">
                <h3 class="panel-title white-text">Recharge Options</h3>
              </div>
    
              <div class="panel-body payment bg-panel p-5 bg-white" style="min-height: 456px;" id="recharge">
                <div id="amounts" class="justify-content-center row mt-4">
                  <div v-for="price in prices" class="card z-depth-1-half text-center col-lg-2 my-4 border border-primary rounded"
                    style="width: 18rem; height: 15rem;">
                    <div class="card-body ">
                      <p class="xaf p-2 bd-highlight blue-text">XAF</p>
                      <h6 class="card-title text-center blue-text">{{price}}</h6>
                      <a href="method.html" class="btn bg-white blue-text font-weight-bold waves-effect h4 border border-primary rounded">Select</a>
                    </div>
                  </div>
                </div>
    
              </div>
    
            </div>
          </div>
    
          <div class="col-lg-3 col-md-12 col-xs-12 ">
            <div class="row mb-4 border z-depth-1-half border-primary bg-panel">
    
              <div class="panel-heading primary-color w-100">
                <h3 class="panel-title white-text">Recharge</h3>
              </div>
    
              <div class="col-md-12 col-lg-12 bg-white">
                <form class="py-4">
    
                  <div class="md-form">
                    <i class="fa fa-phone prefix grey-text py-3"></i>
                    <input id="phone" name="phone" type="text" class="form-control py-3" />
                    <label for="phone">Camtel Number</label>
                  </div>
                  
                  <div class="md-form">
                    <i class="fas fa-dollar-sign prefix grey-text py-3"></i>
                    <input id="amount" name="amount" type="number" class="form-control py-3" min="500" />
                    <label for="amount">Amount</label>
                  </div>
    
                  <div class="text-center mb-3">
                    <a href="method.html" class="btn primary-color btn-lg rechargebtn white-text font-weight-bold mt-3 h6"><i
                        class="fas fa-fill"></i>
                      Recharge</a>
                  </div>
    
                </form>
    
              </div>
    
            </div>
    
            <div class="row mb-4 mt-5 border z-depth-1-half border-primary bg-panel">
    
              <div class="panel-heading primary-color w-100">
                <h3 class="panel-title white-text">Download Our App</h3>
              </div>
    
              <div class="col-md-12 col-lg-12 py-4 bg-white">
                <div class="row justify-content-center align-items-center text-center mt-">
                  <div class="col-md-6 col-lg-12 col-xs-3">
    
                    <a href="" class="btn playbtn w-75" style="min-height: 58px;"></a>
    
                  </div>
                </div>
                <div class="row justify-content-center align-items-center text-center mt-4">
                  <div class="col-md-6 col-lg-12 col-xs-3">
                    <a href="" class="btn appbtn w-75" style="min-height: 50px;"></a>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="py-5 bg-blue">
    <div class="container-fluid">

    </div>

  </footer>

  <!-- jQuery -->
  <script type="text/javascript" src="assets/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="assets/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="assets/js/mdb.min.js"></script>

  <script src="./assets/jquery-3.3.rounded1.slim.min.js" defer=""></script>
  <script src="assets/js/popper.min.js" defer=""></script>
  <script src="assets/js/base_functions.js" defer=""></script>
  <script src="assets/js/bootstrap.min.js" defer=""></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  
  <script>
    new Vue({
      el: "#amounts",
      data: {
        prices: [500, 1000, 2000, 5000, 10000, 15000, 20000, 30000, 40000, 50000 ]
      }
    })
  </script>

</body>

</html>