<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>NGT Recharge</title>
  <link rel="shortcut icon" href="" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

  <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
  <link rel="stylesheet" href="assets/css/metro-bootstrap.css" />
  <link rel="stylesheet" href="assets/css/ym314.css" />
  
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="assets/css/mdb.css">
  
  <link rel="stylesheet" href="assets/css/method-style.css" />

  
  <!--Quciksand font family-->
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  

</head>
<!-- Responsive Style for Payment Logos-->

<body class="bg-muted">
  
  <header>
    <nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark primary-color page-caption">
      <div class="container">
  
        <a class="navbar-brand p-4 font-weight-bold" style="font-size: 30px;" href="#">NGT Recharge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto h3">
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Home</a>
            </li>
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white ml-3" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Language
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="nav-link active text-primary" href="#eng" data-reload><img src="assets/img/eng.png" class="img-fluid"
                                                                                     style="max-width: 25px;" alt="">English</a>
                <a class="nav-link text-primary" href="#fre" data-reload><img src="assets/img/fre.png" class="img-fluid"
                                                                              style="max-width: 25px;" alt=""> French</a>
              </div>
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item"></li>
            <li class="nav-item ml-4">
              <a class="nav-link " id="logout" href="login.html">Logout</a>
            </li>
          </ul>
  
        </div>
      </div>
    </nav>
  </header>

  <main class="card-section ">
    <div class="container">
      
      <div class="card-block bg-white z-depth-1-half">
        <div class="row">
          
          <div class="col-md-12 col-lg-12">

            <div class="text-center mb-5">
              <h3 class="pb-2 h1">You're paying <span class="indigo-text font-weight-bold" id="amount">1000XAF</span> to recharge your account</h3>
              <h3 class="text-danger">Please make sure to have sufficient funds in your account for Platform Service Charges. </h3>

              <h2 class="mt-5 green-text">Select a payment method below to pay for your CAMTEL credit recharge</h2>
            </div>

            <!--Panel Body Container-->
            <div id="mobilepay" class="row justify-content-center p-5 mt-4">
            
              <div v-for="card in cards" class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <!-- Adding Payment Logo for Mobile Services-->
                <div class="card rounded grey lighten-5 hoverable">
                  <div class="view overlay">
                    <img :src="card.image" class="img-fluid rounded-top" alt="mtnMobileLogo.png" width="370px"
                      style="min-height: 220px;">
                    <a href="pay.html">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
            
                  <!-- Card content -->
                  <div class="card-body">
                    <h4 class="card-head text-center pb-4 h2  text-dark">{{card.method}}</h4>
                  </div>
                </div>
            
              </div>
            
            </div>

            <div class="row mt-5">
              <div class="col-lg-12 text-center">
                <a href="" class="btn btn-primary font-weight-bold btn-lg " style="font-size: 12px"><i
                    class="fas fa-arrow-left"></i> Back</a>
              </div>
            </div>

          </div>
        
        </div>
      </div>
    
    </div>
  </main>

  <!-- Footer -->
  <footer class=" lead pb-5">
  
    <!-- Copyright -->
    <div class="footer-copyright text-center h5 black-text">
      Powered by <span class="h4 deep-blue-text darken-4">emma4ChristElectronics Ltd.</span><br><br>
      <p>© 2018 Copyright</p>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

  <!-- jQuery -->
  <script type="text/javascript" src="assets/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="assets/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="assets/js/mdb.min.js"></script>
  
  <script src="assets/js/jquery-3.3.1.slim.min.js" defer=""></script>
  <script src="assets/js/popper.min.js" defer=""></script>
  <script src="assets/js/base_functions.js" defer=""></script>
  <script src="assets/js/bootstrap.min.js" defer=""></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    new Vue({
      el: '#mobilepay',
      data: {
        cards: [
          {
            "image" : "./assets/img/momologo.jpg",
            "method" : "MTN Mobile Money"
          },
          
          {
            "image" : "./assets/img/orange_money.jpg",
            "method" : "Orange Money"
          },

          {
            "image" : "./assets/img/visalogo.png",
            "method" : "Visa Card"
          }
        ]
      }
    })
  </script>

<script>
let rechargeAmt = document.getElementById('amount');
let reAmt = rechargeAmt.innerText;
console.log(reAmt);

</script>
</body>

</html>