html,
body,
header,
#intro {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

#intro {
    background: url('../img/e4christ.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;

}



#sectionLogin {
    /* margin-top: -115px; */
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #sectionLogin {
        margin-top: 4rem;
    }


    .login {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #loginForm .row .mt-4 {
        margin-top: -0.5rem!important;
    }

    .font-10 {
        font-size: 9px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #sectionLogin {
        margin-top: 65px;
    }

    .font-10 {
        font-size: 9px;
    }   
    /* #loginForm .row .mt-4 {
        margin-top: -0.5rem!important;
    } */
}



.deep-blue-text {
    color: rgb(14, 10, 241);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .login {
    padding-top: -50px;
    padding-left: 10px;
    padding-right: 10px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .login {
    padding-top: -50px;
    padding-left: 10px;
    padding-right: 10px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .login {
        padding-top: -50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .font-10 {
        font-size: 10px;
    }
}

.col-xs-4 {
    width: 33.33333333%;
}