.card-section { position: relative; bottom: 80px; }
.card-block { padding: 40px; }
.section-title { margin-bottom: 60px; }

.page-caption { padding-bottom: 90px; }

.bg-muted{
    background:#eff0f1;
}

.deep-blue-text {
    color: rgb(14, 10, 241);
}

