.card-section { position: relative; bottom: 80px; }
.card-block { padding: 40px; }
.section-title { margin-bottom: 60px; }

.page-caption { padding-bottom: 90px; }

.bg-muted{
    background:#eff0f1;
}

.alert {
    padding: 25px 15px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 15px;
    width: 85%;
}

.deep-blue-text {
    color: rgb(14, 10, 241);
}