body {
    font-family: Helvetica, Arial, sans-serif;
}

.title {
    color: black !important;
    font-family: monospace;
    font-size: 25px;
}


.title a {
    color: black !important;
}

.card {
    width: 21rem;
    margin: 1rem;
    display: inline-block;
}

.card-title {
    font-size: 3rem;
    text-align: center;
}

.card-body {
    padding: 1.25rem 0;
}

.btn-primary {
    color: #fff;
    background-color: #17ce9c;
    border-color: #17ce9c;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #02b383;
    border-color: #02b383;
}

.pay-card 
/* .card-title  */
{
    color: white;
}

.pay-mtn {
    background-color: #f8c602;
}

.pay-orange {
    background-color: #f76301;
}

.pay-credit {
    background-color: #1acece;
}

.navbar h1  {
    font-weight: 150px;
}

a.playbtn {
    background: url(../img/play_store.png) no-repeat center center;
    cursor: pointer;
    border: none;
    background-size: cover;
    padding-bottom: 0px;
}

a.appbtn {
    background: url(../img/app-store.svg) no-repeat center center;
    cursor: pointer;
    border: none;
    background-size: cover;
    padding-bottom: 50px;
    
}

input[type=text] ,input[type=password],input[type=number],input[type=email]{
    height: 50px;
    box-sizing: border-box;
}

a .nav-link .active {
    color: red
}


@media only screen and (min-width: 768px) {
    button.btn.socialbtn {
        font-size: 15px !important;
    }

    li.nav-item a.nav-link.contactborder {
        margin-left: 15px;
    }

    a.nav-link.contactborder {
        border: 1px solid white;
    }
}
/* Targetting font-sizes for elements */
/* button.btn.choosebtn{
    font-size: 15px !important;
    font-family: 'Quicksand', sans-serif !important;
    max-width: 25px !important;
} */
#userSpace a{
    font-size: 10px !important;
    font-weight: lighter !important;

}
a.rechargebtn {
    font-size: 12px !important;
    /* font-weight: bold; */
}
#sectionSignup{
    border-radius: 10px;
}

.bg-muted{
    background:#eff0f1;
}
a.p-2,span.p-2{
    color: #ffe !important;
    background-color:#4fc3f7 !important;
}

#recharge a.p-2:hover{
    background: #ffe !important;
    color: #4fc3f7 !important;
}
.form-control {
    font-size: 1.2rem;
}
.md-form label {
    font-size: 1.2rem;
}