body.main { padding-top: 180px; }
@media (max-width: 767px)
{
  body.main { padding-top: 0px; }
  .main .container { padding: 0; }
  .topup .col-md-6 { padding-left: 5px; padding-right: 5px; }
  .panel-body.payment { padding: 15px 5px; }
  .navbar-fixed-top { position: relative; }
}

.ci-navbar
{
  background-color: #f1f2f2;
  min-height: 110px;
  border: 0px;
}
.navbar-brand { height: 95px; float: none; }
.ci-brand { height: 86px; margin-top: 12px; }

.navbar-info { text-align: right; padding: 15px 15px 0px 0px; }
.navbar-info p { margin: 0 0 9px; }
@media (max-width: 767px) { .navbar-header { text-align: center; } }


.num{
    text-align: right;
}
.input-bottom-space{
    margin-bottom: 15px;
}
.label-double{
    margin-top:-5px;
}
.form-horizontal .label-double{
    margin-top:-10px;
}

.thumbnail.tile.tile-double {
    width: 200px;
    opacity: 1;
}
.thumbnail.tile.tile-wide{
    height: 150px;
    width: 310px;
}

.thumbnail.tile.tile-full{
    width: 100%;
    height: 145px;
    opacity: 1;
}
.thumbnail.tile.device-tile{
  background: #fff;
  height: inherit;
}

.thumbnail.tile.tile-history
{
  width: 100%;
  min-height: 290px;
  opacity: 1;
  background-color: #DDDDDD;
  padding: 10px;
  margin: 2px 0px 20px;
}

.thumbnail.tile.tile-history-xs{
    width: 100%;
    max-height: 581px;
    opacity: 1;
    background-color: #DDDDDD;
    padding-top: 15px;
    margin: 2px;
    display: table;
}

.thumbnail.tile.package-tile{
    background: #F5F6F6;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    height: inherit;
}





.ci-tile {
    margin: 0 10px 10px 0;
}

.ci-tile:hover {
    outline: 2px solid #db011a;
}

.ci-ymlink {
    font-family: 'Quicksand', sans-serif;
    color: #36a9e1;
    font-size: 120px;
}

.ci-ymlink:hover {
    color: #36a9e1;
    cursor: pointer;
}

.ci-toclink {
    font-family: 'Quicksand', sans-serif;
    color: #36a9e1;
    text-decoration: underline;

}

.ci-toclink:hover {
    color: #36a9e1;
    cursor: pointer;
    text-decoration: underline;
}

.ci-screen {
    display: none;
}

.ci-icon-size > a > i {
    font-size: 4em;
    line-height: 100px;
    /*vertical-align: middle;*/
}

.fa-links .ci-icon-size {
    /*font-size: 4em;*/
    line-height: 100px;
}

.icon-text {
  font-size: 16px;
  font-weight: bold;
}

.ci-hiddenByDefault {
    display: none;
}

.ci-status-active {
    background-color: green;
}



.front-commercial{
    padding-left: 5px;
    padding-right: 0px;
    height: 310px;
    overflow: hidden;
}

.front-tile-text { padding: 10px 0px; }

table.headbut
{
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
  padding: 0 5px;
}

table.headbut>tbody>tr>td
{
  background-color: #989898;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-bottom: solid 7px #f1f2f2;
  height: 45px;
  width:25%;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font: 700 12px/1.1 "Segoe UI Semilight", "Open Sans", "Verdana", "Arial", "Helvetica", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
table.headbut>tbody>tr>td:hover {
  border-bottom: solid 7px 36a9e1;
  transition: border 150ms ease-out;
  cursor:pointer;
}
table.headbut>tbody>tr>td.selected {
  background-color: #36a9e1;
  color: #fff;
  cursor:pointer;
}

#usage_modal table.headbut>tbody>tr>td { border-bottom: none; }

#device_month_table td { cursor: pointer; }

.devices button { margin-left: 10px; }
.devices .panel-body { margin-top: -25px; }
.devices .panel-body h3 { margin-top: 30px; }
.devices .panel-body img { max-height: 100px; }

.ci-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}


.ci-table-borderless > tr > td, .ci-table-borderless > tbody > tr > td {
    border-top: none;
    vertical-align: middle;
}

.btn-ym {
    color: #fff;
    background-color: #36a9e1;
    margin: auto;
    font-weight: bold;
    font-size: 1em;
}

.btn-green {
    color: #fff;
    background-color: #00D100;
    margin: auto;
    font-weight: bold;
    font-size: 1em;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-ym {
    color: #fff;
    background-color: #00D100;
    /*border-color: #285e8e;*/
}

.btn-ym:active,
.btn-ym.active,
.open .dropdown-toggle.btn-ym {
    background-image: none;
}

.btn-ym.disabled,
.btn-ym[disabled],
fieldset[disabled] .btn-ym,
.btn-ym.disabled:hover,
.btn-ym[disabled]:hover,
fieldset[disabled] .btn-ym:hover,
.btn-ym.disabled:focus,
.btn-ym[disabled]:focus,
fieldset[disabled] .btn-ym:focus,
.btn-ym.disabled:active,
.btn-ym[disabled]:active,
fieldset[disabled] .btn-ym:active,
.btn-ym.disabled.active,
.btn-ym[disabled].active,
fieldset[disabled] .btn-ym.active {
    background-color: #36a9e1;
    /*border-color: #357ebd;*/
}

.panel-ym {
    border-color: #33abf0;
}

.panel-ym > .panel-heading {
    color: #fff;
    background-color: #33abf0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    /*border-color: #428bca;*/
}

.double-panel{
    padding-left: 0px;
    padding-right: 0px;
}

.panel-ym > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #36a9e1;
}

.panel-ym > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #36a9e1;
}

.centered {
    text-align: center;
}

.panel-title {
    font-weight: bold;
}



.subscriptions .pie { height: 80px; }

.subscriptions .package-text { margin-top: -5px; }

.visuals { min-height: 100px; text-align: center; }
.visuals img
{
  margin: 15px;
  border-radius:7px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  height: 340px;
}
.visuals img:hover { cursor:pointer; }
@media (max-width: 991px) { .offers .visuals img { height: 268px; } }
@media (max-width: 767px) { .offers .visuals img { height: 268px; } }

.subscriptions .visuals img { height: 220px; margin: 10px 0px 15px; }

.panel-body.payment
{
  font-size: 16px;
  font-weight: 700;
  min-height: 165px;
}
.panel-body.payment p { text-align: center; margin-bottom: 4px; }
.panel-body.payment btn { font-size: 16px; font-weight: 600; }
.panel-body.payment input { font-size: 16px; font-weight: 600; }


.usage > table.headbut {  border:0px; }

.usage>table.headbut>tbody>tr>td {
  border-left: solid 15px #fff;
  border-right: solid 15px #fff;
}

@media (max-width: 992px) { .col-lg-12 {padding-left: 0px; padding-right: 0px;}}
@media (max-width: 350px) { .panel-body {padding:5px;}}

@media (max-width: 500px) { .pack {margin: 24px 20px; } }



.ci-balance { font-size: 3.5em; text-align: center; font-weight: 700; }
.ci-balance #balance-currency { font-size: 0.8em; }
.ci-balance #balance-field { word-spacing: -0.1em; }

.topup .panel-body img.illu { width: 100%; max-width: 318px; max-height: 86px; }

.topup .panel-body select
{
  width: 100%;
  height: 34px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #000;
}

.topup #cc_amount_row { margin-top: 5px; }

#voucher_pin::placeholder { color: #666; }
#voucher_pin::-webkit-input-placeholder { color: #666; }
#voucher_pin:-moz-placeholder { color: #666; opacity: 1; }
#voucher_pin::-moz-placeholder { color: #666; opacity: 1; }
#voucher_pin:-ms-input-placeholder { color: #666; }
#voucher_pin::-ms-input-placeholder { color: #666; }
#voucher_pin { color: #000; }




/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement
{
  background-color: #fff;
  color: #000;
  padding: 10px 12px;
  border: 1px solid transparent;
  border: 1px solid #ccc;
}

.InputElement
{
  color: #000;
  border: 1px solid #ccc;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075);
  line-height: 1.4285;
  font-size: 14px;
}


.StripeElement--focus
{
  border-color: #66afe9;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
}

.StripeElement--invalid
{
  border-color: #fa755a;
}

.StripeElement--webkit-autofill
{
  background-color: #fefde5 !important;
}



.circle-loader {
  margin: 0 0 30px 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation-name: loader-spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.circle-loader, .circle-loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}
.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}
.checkmark {
  display: none;
}
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
  opacity: 1;
  height: 4em;
  width: 2em;
  transform-origin: left top;
  border-right: 2px solid #5cb85c;
  border-top: 2px solid #5cb85c;
  content: '';
  left: 2em;
  top: 4em;
  position: absolute;
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 2em;
    opacity: 1;
  }
  40% {
    height: 4em;
    width: 2em;
    opacity: 1;
  }
  100% {
    height: 4em;
    width: 2em;
    opacity: 1;
  }
}

.payment i.spinner
{
 font-size: 65px;
 position: absolute;
 top:45%;
 left:45%;
}